<header>
  <app-menu-bar></app-menu-bar>
</header>

<div class="container_menu-title">
  <app-menu-title></app-menu-title>
</div>

<div class="container_body-home">

  <div class="container-articles_big-card">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQxlPYNCPx1K8CfmenWl6eYapXZ2ZynTARLQ&usqp=CAU"
      dayleData="18 de setembro de 2023"
      cardTitle="Live Action de One Piece Lançado"
      cardDescription="O live action foi lançado recentemente e já está entre as mais vistas na plataforma Netflix"

    ></app-big-card>
  </div>

  <div class="articles_small-card">
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7_lgQC5w7-1SLSXihq5uWGDRPzftbd7YzOw&usqp=CAU"
      smallCardTitle="Segunda temporada de One Piece já anunciada"
    ></app-small-card>
    <app-small-card
      photoCover="https://static.tvtropes.org/pmwiki/pub/images/img_3711.jpeg"
      smallCardTitle="Nimona está entre as melhores animações lançadas no catálogo Netflix"
    ></app-small-card>
    <app-small-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7MhpyrVTyIt5XkFdXB7FPycwOpFKlkNoaXQ&usqp=CAU"
      smallCardTitle="Segunda temporada de Sandman já em produção"
    ></app-small-card>
  </div>

</div>
