*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'segoe UI';
  color: white;
}

body{
  background: rgb(2,0,36);
  background: linear-gradient(4deg, rgba(11,156,185,1) 0%, rgba(2,0,36,1) 100%)fixed;
}

a {
  text-decoration: none;
}
